@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var homePage = CurrentPage.Site();
}

<header class="c-header" role="banner">
	<div class="o-wrap o-wrap--x-large clearfix">
		<a href="@homePage.Url" class="c-header__logo-link">
			<img src="/assets/img/bitmap/hulltruck-logo.png" alt="@homePage.Name" class="c-header__logo-image">
		</a>

		<button id="toggle-menu" class="c-header__toggle-menu-button" aria-haspopup="true" data-module="Toggle" data-toggle="js-nav">
			<i class="ico-list"></i>
			<span class="t-hide-text">Menu</span>
		</button>

		@Html.Partial("Page/Navigation")
	</div>
</header>